{% load staticfiles %}

<link style="text/css" rel="stylesheet" href="{% static 'storys/stylesheet.css'%}"/>

<head>
	<title>You are reading the story!</title>
</head>
{% if story %}
<body>
	<form action="{% url 'back' story.id %}" methond="post">
		<input id="back" type="submit" value="<-Back to list"/>
	</form>
	<h1 style="font-size:3em">
		<em>{% block title %}{{story.title|upper}}{% endblock %}<em>
	</h1>
	
	<p style="font-size:2em; text-align:center">{{story.content}}</p>

	<h2>Comments:</h2>

	
		{% if story.comment_set.all%}
			<ol>
				{% for c in story.comment_set.all %}
			
					<li style="font-size:1.2em; color:gray">{{c.Comment_text}}</li>
			
				{% endfor %}
			</ol>
		{% else %}
			<p style="color: blue; font-size:20px"><em> ~~T^T~~ No Comment Yet.</em></p>
		{% endif %}
		
	



	<h2>Do you want to write a comment?</h2>
	{% if error_message%}
		<p style="color:red"><strong>{{error_message}}</strong></p>
	{%endif%}
		<form class="form" action="{% url 'comm' story.id %}" method="post">
			{% csrf_token %}
			<input class="textfield" type="text" name="comment"/>
			<input class="button" type="submit" value="submit"/>
			{% endif %}
		</form>

</body>
	



