{% load staticfiles %} 
<link style="text/css" rel="stylesheet" href="{% static 'storys/stylesheet.css'%}"/>
<head>
	<title>Shortest Story</title>
</head>
<body>
	
	<div id="head">
		<h1>SHORTEST STORY EVER</h1>
		<h2 id="subtitle">Check these shortest story in the world you never read!!</h2>
	</div>
	<div>
{% if story_list %}
    {% for s in story_list %}
        <div class="option"><a id="storylist" href="{% url 'detail' s.id%}">{{ s.title }}</a></div>
    {% endfor %}

{% else %}
    <p style="font-size:2em"><strong>No Story Yet. ~(TwT)~</strong></p></div>
{% endif %}
    </div>
<h3 class="form">Want to upload a new story?</h3>
{%if error_message %}<p style="color: red"><strong>{{error_message}}</strong></p>{% endif %}
<form class="form" action="{% url 'newstory' %}" method="post">
	{% csrf_token %}
	Title:<input class="textfield" type="text" name="title"/><br />
	Content:<input class="textfield" type="text" name="content"/>
	<input class="button" type="submit" value="submit"/>
</form>
</body>