{% load staticfiles %} 
<link style="text/css" rel="stylesheet" href="{% static 'storys/stylesheet.css'%}"/>
<head>
	<title>Shortest Story</title>
</head>
<body>
<h1>Check these shortest story in 
	the world you never read!!</h1>

{% if story_list %}
    <ul>
    {% for s in story_list %}
        <li><a id="storylist" href="{% url 'detail' s.id%}">{{ s.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No story yet.</p>
{% endif %}

<h3 class="form">Want to upload a new story?</h3>
{%if error_message %}<p style="color: red"><strong>{{error_message}}</strong></p>{% endif %}
<form class="form" action="{% url 'newstory' %}" method="post">
	{% csrf_token %}
	Title:<input class="textfield" type="text" name="title"/><br />
	Content:<input class="textfield" type="text" name="content"/>
	<input class="button" type="submit" value="submit"/>
</form>
</body>